*{
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 40px;
    background-color:rgb(52, 29, 29);
    color: red;
}
#logo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:30px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

[type="text"]{
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 200px;
    background-color:lemonchiffon;
    color: black;
    padding-left: 10px;
}

[type="submit"]{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #0ac920;
}

#container{

    height: 100vh;
    /* border:2px solid red; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#recipe_item{
    height:350px ;
    width: 290px;
    border-radius: 20px;
    margin-top: 20px;
}
#food_img{
    height: 70%;
    width: 100%;
}
#recipe_name{
    font-style: italic;
    padding: 10px;
    text-align: center;
    font-size: 23px;
    

}
#view_recipe{
    height: 20%;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: #ace11a;
    font-weight: 800;
    transition: scale 0.5;
}

#recipe_item :hover{
    scale: 0.5
}


